.section {
    display: flex;
    align-items: center;
}

.control-block {
    display: flex;
    justify-content: space-between;
}

.weather-hours-block {
    display: flex;
    justify-content: space-between;
}